{% extends "base.html" %}

{% block content %}
    <main class="auth-page">
        <div class="container">
            <div class="auth-card">
                <p class="eyebrow-text">Admin dashboard</p>

                <h1>Welcome, {{ session["user_name"] }}</h1>

                <p class="auth-intro">
                    This is the admin dashboard. Later, Andrea will manage products, categories, images, and order enquiries here.
                </p>

                <a href="{{ url_for('logout') }}" class="btn btn-dark auth-button">
                    Logout
                </a>
            </div>
        </div>
    </main>
{% endblock %}