{% extends "base.html" %}

{% block content %}
    <main class="page-section">
        <div class="container">
            <div class="catalogue-header">
                <p class="eyebrow-text">Product catalogue</p>

                {% if selected_category %}
                    <h1>{{ selected_category }}</h1>

                    <p>
                        Browse handcrafted pieces in the
                        {{ selected_category }} category.
                    </p>
                {% else %}
                    <h1>Explore the collection</h1>

                    <p>
                        Browse handcrafted Murano-inspired jewellery
                        and glass accessories.
                    </p>
                {% endif %}
            </div>

            <div id="productsListContainer">
                {% include "partials/products_list.html" %}
            </div>
        </div>
    </main>
{% endblock %}